@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #121139;
}

.topo {
    margin-top: 40px;
}

.img-logo {
    margin-top: 64px;
    margin-left: 90px; 

}

.menu {
    display: inline;
    width: 132px;
    height: 27px;
    top: 67px;
    left: 588px;
    gap: 0px;
    opacity: 0px;


}

.link {
    font-size: 20px;
    color: #FFFFFF;
    font-weight: 500px;
    text-decoration: none;
    margin-right: 40px;

}

.corpo {
    display: flex;
    margin-top: 307px;
    margin-left: 90px;
}

.tecnologia {
    font-weight: 600;
    font-size: 99px;
    line-height: 99px;
    line-height: -4px;
    letter-spacing: -4px;
    background-image: linear-gradient( to right, #3a49f9 40%, #812de2 65%);
    background-clip: text;
    color:transparent;
    display: inline;
}

.bolso {
    font-weight: 600;
    font-size: 90px;
    color: #FFFFFF;
    line-height: 90px;
    letter-spacing:  -4px;
}

p {
    font-size: 22px;
    font-weight: 500;
    color: #FFFFFF;
    line-height: 28,6px;
    margin-top: 20px;
    letter-spacing: 4%;
}

.button {
    font-size: 20px;
    color: #FFFFFF;
    text-decoration: none;
    margin-top: 38px;
    width: 310px;
    height: 70px;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
    background: #121139;
    
    display: flex;
    
}

.button::before, .button::after {
    content: '';
    position: absolute;
    z-index: -1;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    background: linear-gradient(94.28deg, #812DE2 0%, #3A49F9 100%);
}